body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section{
    max-width: 800px;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    border-radius: 10px;
}

section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading{
    color: #1976d2;
    text-transform: capitalize;
}
